*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    background-color: #ffffff;
    color: #555;
    font-family: Lato,sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row{
    max-width: 1250px;
    margin: 0 auto;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('img/hero.jpg');
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
h1 {
    margin-bottom: 20px;
    margin-top: 0px;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;  
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 300;
    border-radius: 200px;
    transition: background-color 0.2s,border 0.2s,color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #e67e22;
    color: #fff;
    border: 1px solid #e67e22;
    margin-right: 25px;

}
.btn-ghost:visited,
.btn-ghost:link{
    border: 1px solid #e67e22;
    color: #e67e22;
}
.btn:hover,
.btn:active{
    background-color: #cf6d17;
}
.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #cf6d17;
    color: #fff;
}
.btn-full:hover,
.btn-full:active{
    border: 1px solid #cf6d17;
}
.logo{
    height: 130px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 55px;

}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;          /*here we are using % because now the size depend on the parent, if size of parent change then it also change */ 
    border-bottom: 2px solid transparent;
    padding: 8px 0;
    transition: border-bottom 0.4s;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}
section{
    padding: 80px 0;
    height: 800px;
}
h2{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;

}
h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}
.box{
    padding: 1%;
}
h3{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 110%;
    margin-bottom: 15px;
}
.box p{
    line-height: 145%;
    font-size: 90%;
}
.icon-big{
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 20px;
    
}
.meals-showcase{
    list-style: none;
    width: 100%;
}
.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
}
.meal-photo{
    width: 100%;
    margin: 0;                 /* we are using margin as 0 because we are using normalise.css file that itself set some margin so we take margin 0 in code where needed  */
    overflow: hidden;         /*learn about the overflow property in detail */
    background-color: #000;
    transition: transform 0.5s,opacity 0.5s;
}
.meal-photo img{
    width: 100%;
    height: auto;
    transform: scale(1.15);
    opacity: 0.7;

}
.meal-photo img:hover{
    transform: scale(1.03);
    opacity: 1;
}
.clearfix{zoom:1}                                   /*use to clear the float*/
.clearfix::after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
.section-meals{
    padding: 0;
    height: 600px;
}
.section-features{
    height: 660px;
}
.section-features .long-copy{                     /*inside the section feature class we have long copy class so we do it using this line */
    margin-bottom: 30px;
}
.works-step{
    margin-bottom: 50px;
    margin-right: 25px;
}
.steps-box:first-child{                             /* with the help of first-child we can manipulate the first element of the class*/
    text-align: right;
    padding-right: 3%;
}
.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}
.app-screen{
    width: 300px;
    margin-left: 100px;
    margin-right: 200px;
    /* box-shadow: 10px 10px 5px #aaaaaa; */
}
/* .works-step{
    display: inline;
  
} */
.works-step div{
    color: #e67e22;
    border: 4px solid #e67e22;
    display: inline-block; 
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    margin-right: 25px;
    float: left;
    font-size: 180%;
}
.works-step:last-of-type{
    margin-bottom: 80px;
}
.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}
.btn-app:link,
.btn-app:visited{
    border: 0;
}
.section-steps{
    background-color: antiquewhite;
    height: 850px;
}
.box img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.city-feature{
    margin-bottom: 5px;
}
.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
}
.section-cities{
    height: 800px;
}
a:link,             /* use of pseudo classes,so when the link is active and link is visited then the operation occur */
a:visited{
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
    padding-bottom: 1px;
}
a:hover,
a:active{
    color: #555;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s,color 0.5s;
}
.section-testimonials{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;     /* with the help of this property our back-img is fixed and not move as we move our webpage*/
    height:700px;
}
blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    margin-top: 40px;
    position: relative;
}
cite{
    font-size: 90%;
    display: block;             /* setting display to block the customer image and name appear in next line*/
    margin-top: 25px;
 } 
 cite img{                      /*   again we use desendant css property , so we can do changes in the cite tag images */
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;      /*  used to allign the images or text in vertical form*/
}
blockquote:before{
    content: '\201C';           /*used to include quotation marks*/
    font-size: 500%;
    display: block;
    position: absolute;         /*while working with the position we keep in mind that we apply same position property to parent element*/
    top: 0;
    left: -3px;
}
.section-plans{
    background-color: #f4f4f4;
    height: 700px;
}
.plan-box{
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
}
.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}
.plan-price{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}
.plan-price-meal{
    font-size: 80%;
}
.plan-price span{
    font-size: 30%;
    font-weight: 300;
}
.plan-box ul{
    list-style: none;
}
.plan-box ul li{
    padding: 5px 0;
}
.plan-box div:last-child{
    border: 0;
    text-align: center;
}
.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.section-form{
    height: 800px;
}
.contact-form{
    width: 60%;
    margin: 0 auto;                     /*using this margin we can align the contact form in the center */
}
.section-form div{
    margin-bottom: 30px;
}
input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
textarea{
    height: 100%;
}
input[type=checkbox]{
    margin: 10px 5px 10px 0;
}
.section-footer{
    height: 300px;
    background-color: #333;
    font-size: 80%;
    padding: 50px;
}
.footer-nav{
    list-style: none;
    float: left;
}
.social-links{
    list-style: none;
    float: right;
}
.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
}

.footer-nav li a:hover,
.footer-nav li a:hover{
    color: #e8e8e8;
}
footer p{
    color: #888;
    text-align: center;
    font-size: 90%;
    margin-top: 20px;
}
.fb:hover{
    color: #3a68f1;
}
.google:hover{
    color: #dd4b39;
}
.twitter:hover{
    color: #00aced;
}
.insta:hover{
    color: rgb(228, 61, 89);
}
.social-links li a:link,
.social-links li a:visited{
    font-size: 160%;
}